<div id="drawer_menu_list" class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
    <main class="mdl-layout__content" style="height: 100%;">
        <div class="page_content" id="drawer_menu_docs_contents">
            <!--profile -->
            <!--menu items-->
            <div id="drawer_header">
                <div class="row">
                  <div class="col-8" style="border-right: 1px #e4e4e4 solid;"><button type="button" id="btn-overview" class="btn btn-link btn-block" style="color:#0288D1;"><i class="ion ion-ios-home" style="font-size: 14pt;"></i> <b>Dashboard</b></button></div>
                  <div class="col-3">
                  {%if(_SESSION.auth_level == "999"):%}
                  <button type="button" class="btn btn-link"><i class="ion ion-ios-gear" style="font-size: 14pt;"></i></button>
                  </div>
                  {%:if%}
                </div>
            </div>
            <!--//profile-->
            
            <!--menu items-->
            <div id="drawer_items">
                <div class="list-group" style="padding: 5px 0 0 0;">
                    {%for(drawer_menu):%}
                      {%if(drawer_menu.lv <= _SESSION.auth_level):%}
                        <div style="padding: 12px; margin-top:10px; background-color: #f9f9f9;"><small>{%drawer_menu.title%}</small></div>
                        {%for(menu):%}
                          {%if(menu.lv <= _SESSION.auth_level):%}
                          <a href="{%menu.url%}" role="button" class="btn btn-link btn-block drawer_menu_item {%if(menu.id == _GET.act):%}active{%:if%}">
                            {%if(menu.icon !=''):%}{%menu.icon%}&nbsp;&nbsp;{%:if%}{%menu.title%}
                          </a>
                          {%:if%}
                        {%:for%}
                      {%:if%}
                    {%:for%}
                </div>
            </div>
            <!--menu items-->
        </div>
    </main>
</div>

