{%include_once './header.html'%}

<body>
    <!--container-->
    <div id="container">
        <!--right -->
        <div id="right">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once './layout_right.html'%}
            </div>
        </div>
        <!--//right -->
        <!--rightside -->
        <div id="rightside">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once './layout_rightside.html'%}
            </div>
        </div>
        <!--//rightside -->
        <!--rightthird -->
        <div id="rightthird">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once './layout_rightthird.html'%}
            </div>
        </div>
        <!--//rightthird -->
        <!--left-->
        <div id="left">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                <header class="mdl-layout__header border-0">

                    <div class="mdl-layout__header-row">
                        <!--사이드메뉴용 버튼-->
                        <div class="mdl-layout-icon" id="btn_draw_menu">
                            <button type="button" class="btn draw_menu_navicon" title="메뉴">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <!--//사이드메뉴용 버튼-->
                        <!-- Title -->
                        <span id="left_title" class="mdl-layout-title pl-3" style="font-size: 1.6rem;">
                            <a href="/_adm/">{%strings.app_name%}</a>
                        </span>
                        <div class="mdl-layout-spacer"></div>                      
                        <nav id="left_menu" class="mdl-navigation">
                        </nav>
                        <span>
                            {%include_once './left_menu.html'%}
                        </span>
                    </div>
                </header>
                <main class="mdl-layout__content">
                    <div class="page-content left_docs_contents pl-0 pt-0 pr-0">
                        <div class="container-fluid" style="padding: 1rem;">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="card text-xs-right total_card" style="background-color:#1EBFAF;">
                                                <div class="card-body">
                                                    <div class="media media-middle text-white">
                                                        <div class="media-left mr-3">
                                                            <i class="fa fa-users fa-3x pull-left"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading mb-0"><span class="total_head">{%member_total%}</span></h4>
                                                            <small class="total_small">Members</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card text-xs-right total_card" style="background-color: #FF7F0E;">
                                                <div class="card-body">
                                                    <div class="media media-middle text-white">
                                                        <div class="media-left mr-3">
                                                            <i class="fa fa-database fa-3x pull-left"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading mb-0"><span class="total_head">{%bbs_total%}</span></h4><small class="total_small">BBS</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card text-xs-right total_card" style="background-color:skyblue">
                                                <div class="card-body">
                                                    <div class="media media-middle text-white">
                                                        <div class="media-left mr-3">
                                                            <i class="fa fa-comments fa-3x pull-left"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading mb-0"><span class="total_head">{%comment_total%}</span></h4><small class="total_small">Comment</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: left; margin-top: 20px;"></div>
                                    <div class="card card-body">
                                        <h6 class="h6_idx">
                                            <span class="pull-right">총 : {%member_total%}명</span>
                                            회원 통계
                                        </h6>
                                        <div id="member_statis" class="card-text"></div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="card card-body mb-4">
                                        <h5 class="card-title">신규가입자</h5>
                                        <div class="row">
                                            {%for(member_new):%}
                                            <div class="mem_profile">
                                                {%if(member_new.photo != ''):%}
                                                <img class="card-img-top mem_profile_photo" src="{%member_new.photo%}">
                                                {%:else:%}
                                                <img class="card-img-top mem_profile_photo" src="/_adm/coconut/images/noimage.jpg">
                                                {%:if%}
                                                <h6 class="card-title" style="margin-top: 5px;">{%member_new.name%}<br /><small>{%member_new.signdate%}</small></h6>
                                            </div>
                                            {%:for%}
                                            <div style="clear: left;"></div>
                                        </div>
                                    </div>
                                    <div class="card card-body">
                                        <h5 class="card-title">최근접속자</h5>
                                        <div class="row">
                                            {%for(member_recent):%}
                                            <div class="mem_profile">
                                                {%if(member_recent.photo != ''):%}
                                                <img class="card-img-top mem_profile_photo" src="{%member_recent.photo%}">
                                                {%:else:%}
                                                <img class="card-img-top mem_profile_photo" src="/_adm/coconut/images/noimage.jpg">
                                                {%:if%}
                                                <h6 class="card-title" style="margin-top: 5px;">{%member_recent.name%}<br /><small>{%member_recent.signdate%}</small></h6>
                                            </div>
                                            {%:for%}
                                            <div style="clear: left;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--게시판통계-->
                        <div class="container-fluid" style="padding: 1rem;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="card card-body">
                                        <h6 class="card-title">
                                            <span class="pull-right">총 : {%bbs_total%}개</span>
                                            게시물 통계
                                        </h6>
                                        <div id="bbs_statis" class="card-text"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8">
                                    <div class="card card-body">
                                        <h6 class="h6_idx">최근게시물</h6>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Title</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for(bbs_recent):%}
                                                    <tr>
                                                        <td><small>{%=__date(bbs_recent.signdate,'Y-m-d')%}</small></td>
                                                        <td>{%bbs_recent.title%}</td>
                                                    </tr>
                                                    {%:for%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%include_once './left_footer.html'%}
                </main>
                
            </div>
        </div>
        <!--//left-->
        <!--bottom-->
        <div id="bottom">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once './layout_bottom.html'%}
            </div>
        </div>
        <!--//bottom-->
        <!--drawer_menu -->
        <div id="drawer_menu">
            {%include_once './drawer_menu.html'%}
        </div>
        <!--//drawer_menu -->
    </div>
    <!--//container-->

</body>
<!--modal-->
<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    {%include_once './modal.html'%}
</div>
<div id="popup" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
</div>
<!--//modal-->
<!--template -->

<script src="/_adm/coconut/js/index.js?v=1"></script>

<script>
//<![CDATA[
var bbs_statics = [{%bbs_statis%}];
var member_statics = [['x', "1","2","3","4","5","6","7","8","9","10","11","12"],{%member_statis_cnt%}];
var admlv = {%_SESSION.auth_level%};
//]]>
</script>
{%include_once './footer.html'%}
