<script type="text/template" id="tpl_poll_item_list">
    <div class="text-right">
        <button class="btn btn-link text-white" onclick="history.go(-1); return false;"><i class="fas fa-times fa-2x"></i></button>
    </div>
<div class="card">
    <div class="card-body">

        <table class="table table-bordered" style="background-color:#fff;">
        <tbody>
            <tr>
                <th colspan="4" class="text-center pt-4">
                <h3><%-poll_info.title%></h3>
                </th>
            </tr>
            <tr>
                <th>문항수</th>
                <td><%-poll_info.q_count%></td>
                <th>투표인증방식</th>
                <td class="noSwipe">회원</td>
            </tr>
            <tr>
                <th>기간</th>
                <td colspan="3"><%-poll_info.start_date%> ~ <%-poll_info.end_date%></td>
            </tr>
            <!-- <tr>
                <th style="width: 120px;">참여/예상참여</th>
                <td><%-poll_info.a_count%>/<%-poll_info.epa_total%></td>
                <th style="width: 100px;">투표참여율</th>
                <td>
                    <%
                    var apercent = (poll_info.a_count/poll_info.epa_total*100).toFixed(2);
                    %>
                    <div class="progress" style="margin-top:5px;">
                    <div class="progress-bar" role="progressbar" style="width: <%-apercent%>%;" aria-valuenow="<%-apercent%>" aria-valuemin="0" aria-valuemax="100"><%-apercent%>%</div>
                    </div>
                </td>
            </tr> -->
        </tbody>
        </table>
        
        <%
        if(poll_info.is_print == 'y' && item_log_count < 1){
        %>
        <div class="text-center pt-2">
            <button type="button" id="btn-add-poll-item" class="btn btn-primary">문항추가</button>
        </div>
        <% } else {%>
        <div class="text-center pt-2">
            <button type="button" class="btn btn-primary btn-lg" onclick="history.go(-1);return false;">확인</button>
        </div>
        <% } %>
        
        <hr />
        <form style="background-color:#fff; padding:15px 0;">
        <%
        _.each(msg, function(list, key, value)
        {
        %>
        <div class="form-group row" style="margin: 1rem;border: 1px solid #ddd;padding: 1rem 0.5rem;">
            <label for="n<%=list.pitem_num%>" class="col-12 col-form-label">
                <span class="float-right">
                    <%
                    if(poll_info.is_print == 'y' && item_log_count < 1){
                    %>
                    <button type="button" class="btn btn-link btn-sm p-1 poll-item-edit" data-id="<%-list.pitem_id%>"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-link btn-sm p-1 poll-item-delete" data-id="<%-list.pitem_id%>"><i class="fas fa-trash"></i></button>
                    <%
                    }
                    %>
                </span>
                <h5><%-list.pitem_num%>.  <%-list.pitem_title%></h5>
            </label>
            <div class="col-12">
            <% 
            // text
            if(list.pitem_type == 't'){ 
            %>
                <input class="form-control" type="text" name="<%-list.pitem_id%>" id="<%-list.pitem_id%>">
            <%
            // radio, checkbox
            } else { 
            %>
                
                <%
                for(var n=1; n <=10; n++){
                    var qn = 'q'+n;
                    var qn_count = qn+'_count';
                    var qid = list.pitem_id+'_'+qn;
                    if( list[qn] == ""){
                        break;
                    }
                %>
        
                    <%
                    if(list.pitem_type == 'r'){
                    %>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="<%-list.pitem_id%>" id="<%-qid%>" value="<%-qn%>"> <%-list[qn]%>
                            </label>
                        </div>
                    <% 
                    } else if(list.pitem_type == 'c'){ 
                    %>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="<%-list.pitem_id%>" id="<%-qid%>" value="<%-qn%>"> <%-list[qn]%>
                            </label>
                        </div>
                        
                    <% } %>
                <% } %>
        
            <% } %>
            <small class="text-muted"></small>
            </div>
        </div>
        
        <% }); %>
        </form>

    </div>
</div>
</script>