/* @font-face {
    font-family: NG;
    src: url(/assets/applepie/fonts/NanumGothic.eot);
    src: local(※), url(/assets/applepie/fonts/NanumGothic.woff) format('woff')
} */

body, html {
    height: 100%
}

body, button, input, select, table,th,td,label,small, textarea, li {
    font-family: 'Gothic A1', 'Russo One',serif !important;
} 

#container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden
}

#bottom,#bottomside, #drawer_menu, #drawer_menu_right, #left, #right, #rightside,#rightthird {
    will-change: transform;
    transition: -webkit-transform .3s cubic-bezier(.215, .61, .355, 1);
    transition: -moz-transform .3s cubic-bezier(.215, .61, .355, 1);
    transition: -ms-transform .3s cubic-bezier(.215, .61, .355, 1);
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    width: 100%;
    height: 100%;
    position: absolute
}

#left {
    left: 0px;
    top: 0px !important;
}

#right {
    left: 100%;
    top: 0;
    z-index: 3;
    background-color: rgba(0,0,0,.7);
}

#right .mdl-layout__content{
    padding-top:1rem;
}

#rightside {
    left: 100%;
    top: 0;
    z-index: 4;
    background-color: rgba(0,0,0,.7);
}

#rightside .mdl-layout__content{
    padding-top:2rem;
}

#rightthird{
    left: 100%;
    top: 0;
    z-index: 5;
    background-color: rgba(0,0,0,.7);
}

#rightthird .mdl-layout__content{
    padding-top:3rem;
}

#bottom {
    left:0px;
    top: 100%;
    z-index: 6;
    background-color: rgba(0,0,0,0.7);
}

#bottom .mdl-layout__content{
    padding-top:4rem;
}

#bottomside {
    left:0px;
    top: 100%;
    z-index: 7;
    background-color: rgba(0,0,0,0.7);
}

#bottomside .mdl-layout__content{
    padding-top:5rem;
}
/*펼침*/
/*#left{
    padding-left: 0;
    z-index: 1;
}

#left .mdl-layout__content{
    padding-left: 256px;
}

#drawer_menu{
    width: 256px;
}
#drawer_menu {
    top: 55px;
    left: 0;
    padding: 0;
    z-index: 2;
    opacity: 1.0;
    padding-bottom: 60px;
    margin-bottom: 55px;
}

#drawer_menu_list {
    width: 256px;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 0 solid #e0e0e0;
    background: #fff
}

.drawer_transitioned {
}

#drawer_header {
    background: #fafafa;
    -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important;
    position: relative;
    padding: 10px 0
}*/

/*접힘*/
#left {
    z-index: 0;
}

#drawer_menu {
    top: 0;
    left: -100%;
    padding: 0;
    z-index: 1;
    /*opacity: .93;*/
    width:100%;
}

#drawer_menu_right {
    top: 0;
    left: 100%;
    padding: 0;
    z-index: 1;
    /*opacity: .93;*/
    width:100%;
}

#drawer_menu_list {
    width: 280px;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 0 solid #e0e0e0;
    background: #394154;
}

#drawer_menu_right_list {
    width: 280px;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 0 solid #e0e0e0;
    background: #394154;
}

.ion-navicon{
    font-size: 26px;
}

.drawer_transitioned {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    animation: colorchange 10ms;
    -webkit-animation: colorchange 10ms;
    -webkit-animation-delay: .3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: colorchange 10ms;
    -moz-animation-delay: .3s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: colorchange 10ms;
    -ms-animation-delay: .3s;
    -ms-animation-fill-mode: forwards
}

.drawer_right_transitioned {
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    animation: colorchange 10ms;
    -webkit-animation: colorchange 10ms;
    -webkit-animation-delay: .3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: colorchange 10ms;
    -moz-animation-delay: .3s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: colorchange 10ms;
    -ms-animation-delay: .3s;
    -ms-animation-fill-mode: forwards
}

#rightside_docs_contents, .rightside_docs_contents {
    min-height: 100%;
    height: 100%
}

#myModal {
    /* max-height: 90vh; */
}

.loading {
    z-index: 1000;
    position: fixed;
    top: 45%;
    left: calc(50% - 60px);
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.transitioned {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.rightside_transitioned {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.rightthird_transitioned {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.bottom_transitioned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.bottomside_transitioned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

@keyframes colorchange {
    from, to {
        background: rgba(0, 0, 0, .7)
    }
}
@-webkit-keyframes colorchange {
    from, to {
        background: rgba(0, 0, 0, .7)
    }
}
@-moz-keyframes colorchange {
    from, to {
        background: rgba(0, 0, 0, .7)
    }
}
@-ms-keyframes colorchange {
    from, to {
        background: rgba(0, 0, 0, .7)
    }
}

.dropdown-menu-right {
    left: auto;
    left: 100%;
}

hr {
    border: 0;
    border-top: 1px solid #DDD
}

.table {
    margin-bottom: 0; 
}

.modal {
    top: 2rem;
    bottom: auto
}

.modal-header .close{
    font-size: 2.5rem;
    cursor: pointer;
    margin: -1rem -1rem -1rem 0;
}

.modal-content {
    border: 0;
    border-radius: .7rem;
    opacity: .9
}

.modal-header {
    border-bottom: 0
}

.modal-footer {
    border-top: 0;
    padding: 0
}

.modal-backdrop.in {
    /*display: none;*/
}

#btn_draw_menu {
    display: block;
}

/*animation*/
/*link-over*/
.link-over {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 0;
    text-align: center;    
    margin-bottom: 0px;
}
.link-over:hover:before {
    opacity: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.link-over:before {
    position: absolute;
    content: '';
    display: block;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.link-over:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.link-over:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    content: "";
    z-index: 1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    background: url(/assets/applepie/images/bg_hover.png);
}

/*bubble*/
.bubble-container{
  background-color:transparent;
  width:100%;
  height:187px;
  overflow:hidden;
  position:relative;
}

.bubble{
  border-radius: 50%;
  position: absolute;
}

.smallBubble{
    width:20px;
    height:20px;
    background-color:rgba(255,255,255,0.2);
}

.mediumBubble{
    width:30px;
    height:30px;
    background-color:rgba(255,255,255,0.2);
}

.largeBubble{
    width:40px;
    height:40px;
  background-color:rgba(255,255,255,0.2);
}

.toast-right {
    position: absolute;
    top: 50px;
    right: 10px;
    bottom:auto;
    left:auto;
    z-index: 2000;
}

.toast-left {
    position: absolute;
    top: 50px;
    right: auto;
    bottom:auto;
    left:10px;
    z-index: 2000;
}

.toast-bottom {
    position: absolute;
    top: auto;
    right: auto;
    bottom:50px;
    left:auto;
    z-index: 2000;
}

.toast-top {
    position: absolute;
    top: 10px;
    right: auto;
    bottom:auto;
    left:auto;
    z-index: 2000;
}

@media (max-width:767px) {
    /*#btn_draw_menu {
        display: block;
    }*/
    .modal {
        top: auto;
        bottom: 1rem
    }

    #left .mdl-layout__content{
        padding-left: 0;
    }

    #drawer_menu {
        top: 0;
        left: -100%;
        padding: 0;
        z-index: 1;
        /*opacity: .93;*/
        width:100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #drawer_menu_right {
        top: 0;
        right: -100%;
        padding: 0;
        z-index: 1;
        /*opacity: .93;*/
        width:100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #drawer_menu_list {
        width: 80%;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-sizing: border-box;
        border-right: 0 solid #e0e0e0;
    }

    #drawer_menu_right_list {
        width: 80%;
        height: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-sizing: border-box;
        border-right: 0 solid #e0e0e0;
    }

    .drawer_transitioned {
/*        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transform: translateX(100%);
        animation: colorchange 10ms;
        -webkit-animation: colorchange 10ms;
        -webkit-animation-delay: .3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: colorchange 10ms;
        -moz-animation-delay: .3s;
        -moz-animation-fill-mode: forwards;
        -ms-animation: colorchange 10ms;
        -ms-animation-delay: .3s;
        -ms-animation-fill-mode: forwards*/
    }

    .drawer_right_transitioned {
/*      -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        transform: translateX(0%);
        animation: colorchange 10ms;
        -webkit-animation: colorchange 10ms;
        -webkit-animation-delay: .3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: colorchange 10ms;
        -moz-animation-delay: .3s;
        -moz-animation-fill-mode: forwards;
        -ms-animation: colorchange 10ms;
        -ms-animation-delay: .3s;
        -ms-animation-fill-mode: forwards*/
    }
}
