#left .layout-transparent {
    background: url('/_adm/coconut/images/login/top_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#left .mdl-layout__header {
    border-bottom: 0;
}
  
.container-sm{
    /* width:540px !important; */
    max-width: 540px !important;
}
#left .mdl-layout__content {
    margin-top: 30vh;
}
.lay-login {
    position: absolute; 
    width: 100%; 
    top: 20vh; 
    z-index: 2;
}

.mdl-textfield {
    width: 100%;
}

.label {
    margin-bottom: 0;
}

.card {
    border-radius: 1.3rem;
}