<script type="text/template" id="tpl_program_list">
  <div class="container-fluid" style="padding: 10px 0px;">
      <div class="row">
        <div class="col-6">
          <button type="button" id="btn_add" class="btn btn-primary button_circle"><i class="fa fa-plus"></i></button>
        </div>
        <div class="col-6" style="text-align: right;">
          
        </div>
    </div>
      <!--검색-->
      <form id="theSearchForm">
          <div class="input-group">          
            <input type="search" class="form-control" name="q" id="q" value="<%-q%>" title="검색어" placeholder="<%-field%>">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 검색</button>
            </span>
          </div>
      </form>
  
      <!--카테고리-->
      <%if(typeof(category_navi) !== "undefined") { %>
        <ul class="nav nav-pills" style="padding:10px 0 0 0;">
          <li class="nav-item">
            <a class="nav-link category-link" data-id="" href="javascript://void(0);">전체</a>
          </li>
          <% _.each(category_navi, function(category_navi_title, category_key, value) { 
            var _cate_active = (category == category_key) ? "active" : "";
          %>
          <li class="nav-item">
            <a class="nav-link category-link <%-_cate_active%>" data-id="<%-category_key%>" href="javascript://void(0);"><%-category_navi_title%></a>
          </li>
          <%}); %>  
        </ul>
        <% } %>
  </div>
  <div class="col-xs-12"><small>전체 : <%-total_record%> (<%-page%>/<%-total_page%>페이지)</small></div>

  <div class="table-responsive noSwipe">
    <table class="table table-hover table-bordered">
      <tbody>
      <%
      _.each(headline, function(hd)
      {
      %>
        <tr class="raw-edit" style="cursor:pointer;" data-id="<%-hd.id%>">
          <td><i class="fas fa-bell"></i> [공지] <%-hd.title%></td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-secondary raw-del" data-id="<%-hd.id%>">Del</button>
          </td>
        </tr>
      <%});%>
      </tbody>
    </table>

    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <%
          _.each(scheme,function(vargs,colname){
          %>
          <th scope="col"><%-vargs.title%></th>
          <%
          });
          %>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%
      _.each(msg, function(list)
      {
      %>
        <tr class="raw-edit" style="cursor:pointer;" data-id="<%-list.id%>">
        <%
        _.each(scheme, function(sch,colname)
        {
          var column_value = list[colname];
        %>
          <td><%-column_value%></td>
        <% }); %>
          <td>
            <button type="button" class="btn btn-sm btn-outline-secondary raw-del" data-id="<%-list.id%>">Del</button>
          </td>
        </tr>
      <%});%>
      </tbody>
    </table>
  </div>
  
  <!--paging chanel-->
  <nav aria-label="Page navigation" style="padding:20px 0;">
    <ul class="pagination justify-content-center">
      <%if(paging.pre>0){%>
      <li class="page-item">
        <a class="page-link" href="javascript:void(0);" data-page="<%-paging.pre%>" tabindex="-1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only"><<</span>
        </a>
      </li>
       <%}%>
       <% _.each(paging.chanel, function(paging){
          var page_active = (page == paging.num) ? 'active' : '';
       %>
      <li class="page-item <%-page_active%>">
        <a class="page-link" href="javascript:void(0);" data-page="<%-paging.num%>"><%-paging.num%></a>
      </li>
      <%});%>
      <%if(paging.next>0){%>
      <li class="page-item">
        <a class="page-link" href="javascript:void(0);" data-page="<%-paging.next%>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">>></span>
        </a>
      </li>
       <%}%>
    </ul>
  </nav>
  </script>