{%include_once '../header.html'%}

<body>
    <!--container-->
    <div id="container">
        <!--right -->
        <div id="right">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once '../layout_right.html'%}
            </div>
        </div>
        <!--//right -->
        <!--rightside -->
        <div id="rightside">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once '../layout_rightside.html'%}
            </div>
        </div>
        <!--//rightside -->
        <!--left-->
        <div id="left">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                <header class="mdl-layout__header border-0">

                    <div class="mdl-layout__header-row">
                        <!--사이드메뉴용 버튼-->
                        <div class="mdl-layout-icon" id="btn_draw_menu">
                            <button type="button" class="btn draw_menu_navicon" title="메뉴">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <!--//사이드메뉴용 버튼-->
                        <!-- Title -->
                        <span id="left_title" class="mdl-layout-title pl-3" style="font-size: 1.6rem;">
                            <a href="/">{%strings.app_name%}</a>
                        </span>
                        <div class="mdl-layout-spacer"></div>                      
                        <nav id="left_menu" class="mdl-navigation">
                        </nav>
                        <span>
                            {%include_once '../left_menu.html'%}
                        </span>
                    </div>
                </header>
                <main class="mdl-layout__content">
                    <div class="page-content left_docs_contents pl-0 pt-0 pr-0">
                        <div class="mdl-layout__tab-bar border-bottom">
                            <a href="./?act=layout" class="mdl-layout__tab">사용자 화면(레이아웃)</a>
                            <a href="./?act=layoutadm" class="mdl-layout__tab active">관리자 화면(레이아웃)</a>
                        </div>
                        
                        <div id="left_docs_contents" class="container-fluid py-3">
                            
                        </div>
                    </div>
                    {%include_once '../left_footer.html'%}
                </main>
                
            </div>
        </div>
        <!--//left-->
        <!--bottom-->
        <div id="bottom">
            <div class="mdl-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
                {%include_once '../layout_bottom.html'%}
            </div>
        </div>
        <!--//bottom-->
        <!--drawer_menu -->
        <div id="drawer_menu">
            {%include_once '../drawer_menu.html'%}
        </div>
        <!--//drawer_menu -->
    </div>
    <!--//container-->

</body>
<!--modal-->
<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    {%include_once '../modal.html'%}
</div>
<div id="popup" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
</div>
<!--//modal-->
<!--template -->

<script src="/_adm/coconut/layout/layout_adm.js?v=1"></script>
{%include_once '../footer.html'%}
