<script type="text/template" id="tpl_column_edit">
    <div class="text-right">
        <button class="btn btn-link text-white" onclick="history.go(-1); return false;"><i class="fas fa-times fa-2x"></i></button>
    </div>
    <div class="card noSwipe p-3">
        <div class="card-block pt-3">
            <form id="theColumnEditForm" class="form-horizontal">
                <% 
                _.each(msg, function(column_value, column_name)
                {
                    if(_.isArray(column_value) || _.isObject(column_value)){
                        return;
                    }

                    var column_type    = 'text';
                    var column_title   = '';
                    var column_default = {};
                    var column_comment = '';
                    var column_readonly= '';
                    if(!_.isNull(scheme))
                    {
                        if(!_.isUndefined(scheme[column_name])) 
                        {
                            // type
                            if(!_.isUndefined(scheme[column_name].type)) {
                                column_type = scheme[column_name].type;
                            }

                            // title
                            if(!_.isUndefined(scheme[column_name].title)) {
                                column_title = scheme[column_name].title;
                            }

                            // default
                            if(!_.isUndefined(scheme[column_name].default)) {
                                column_default = scheme[column_name].default;
                            }

                            // comment
                            if(!_.isUndefined(scheme[column_name].comment)) {
                                column_comment = scheme[column_name].comment;
                            }

                            // readonly
                            if(!_.isUndefined(scheme[column_name].readonly)) {
                                column_readonly = scheme[column_name].readonly;
                            }
                        }
                    }
                    %>

                    <% if(column_name =='data_type' && column_type=='select'){ %>
                        <div class="form-group row">
                            <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                            <div class="col-sm-10">
                                <select id="<%-column_name%>" name="<%-column_name%>" class="form-control" style="margin-bottom:5px;">
                                    <option value="">+ 데이터 타입을 선택하세요.</option>
                                    <%
                                    _.each(column_default, function(typ,no){
                                    %>
                                    <optgroup label="<%-typ.label%>">
                                        <%
                                        _.each(typ.type, function(v,k){
                                            var selected = (v==column_value) ? 'selected="selected"' : '';
                                        %>
                                        <option value="<%-v%>" <%-selected%>><%-v%></option>
                                        <% }); %>
                                    </optgroup>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    <% } else if(column_type=='select'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <select id="<%-column_name%>" name="<%-column_name%>" class="form-control" style="margin-bottom:5px;">
                                <option value="">+ <%-column_title%> 선택하세요.</option>
                                <%_.each(column_default, function(dtitle, dkey)
                                {
                                    var selected = (column_value==dkey) ? 'selected="selected"' : '';
                                %>
                                <option value="<%-dkey%>" <%=selected%>> 
                                    <%-dtitle%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                    </div>
                    <%} else if(column_type=='radio'){ %>
                    <fieldset class="form-group border-0 px-0">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0"><%-column_title%></legend>
                            <div class="col-sm-10 pl-3">
                                <%
                                var ri = 1;
                                _.each(column_default, function(rtitle, rkey)
                                {
                                    var checked = (column_value==rkey) ? 'checked' : '';
                                %>
                                <div class="form-check pl-4">
                                    <input class="form-check-input" type="radio" name="<%-column_name%>" id="<%-column_name%><%-ri%>" value="<%-rkey%>" <%-checked%>>
                                    <label class="form-check-label" for="<%-column_name%><%-ri%>">
                                     <%-rtitle%>
                                    </label>
                                </div>
                                <%
                                    ri++;
                                });
                                %>
                            </div>
                        </div>
                    </fieldset>
                    <%} else if(column_type=='checkbox'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                        <%
                        var ci = 1;
                        _.each(column_default, function(ctitle, ckey)
                        {
                            var checked = (column_value==ckey) ? 'checked' : '';
                        %>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%-ckey%>" name="<%-column_name%>" id="<%-column_name%><%-ci%>" <%-checked%> <%-column_readonly%>>
                            <label class="form-check-label" for="<%-column_name%><%-ci%>">
                            <%-ctitle%>
                            </label>
                        </div>
                        <%
                            ci++;
                        });
                        %>
                        </div>
                    </div>
                    <%} else if(column_type=='rolldate'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-column_name%>" name="<%-column_name%>" placeholder="<%-column_comment%>" value="<%-column_value%>" readonly />
                        </div>
                        <%
                        require(['rolldate'],function(Rolldate){
                            new Rolldate({
                                el:'#'+column_name,
                                beginYear : 1935,
                                format : 'YYYY-MM-DD',
                                lang : {
                                    title: column_title,
                                    cancel: '취소',
                                    confirm: '확인',
                                    year: '년',
                                    month: '월',
                                    day: '일',
                                    hour: '시',
                                    min: '분',
                                    sec: '초'
                                }
                            });
                        });
                        %>
                    </div>
                    <%} else if(column_type=='daum_postcodemap'){ %>

                        <div id="map" class="border text-center rounded" style="width:100%;height:200px;"></div>

                        <div class="form-group row">
                            <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="<%-column_name%>" name="<%-column_name%>" placeholder="<%-column_comment%>" value="<%-column_value%>" readonly />
                            </div>
                        </div>
                        <%
                        require(['/plugins/daumpostmap/daumpostmap.min.js'],function(DaumPostMap){
                            DaumPostMap.init({lat:msg.lat,lon: msg.lon});
                            DaumPostMap.doPostCodeAddress('#postcode', '#address1');
                        });
                        %>
                    <%} else if(column_type=='datepicker'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-column_name%>" name="<%-column_name%>" placeholder="<%-column_comment%>" value="<%-column_value%>" readonly />
                        </div>
                        <%
                        require(['datepicker/datepicker'], function(datepicker) 
                        {
                            datepicker.initialize(['#'+column_name],function(context){
                                app.log(context);
                            });
                        });
                        %>
                    </div>
                    <%} else if(column_type=='timepicker'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-column_name%>" name="<%-column_name%>" placeholder="<%-column_comment%>" value="<%-column_value%>" readonly />
                        </div>
                        <%
                        require(['clockpicker', 'css!libs/css/clockpicker.min.css'], function(clockpicker) 
                        {
                            // 시작시간
                            $('#'+column_name).clockpicker({
                                placement: 'bottom',
                                align: 'right',
                                autoclose: true
                            });
                        });
                        %>
                    </div>
                    <%} else if(column_type=='wysiwyg'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <textarea id="<%-column_name%>" name="<%-column_name%>" class="list-group-item form-control fu-input-text" style="width:100%;" placeholder="<%-column_title%>"><%-column_value%></textarea>
                        </div>
                        <%
                        require(["ckeditor"], function(ckeditor) {
                            $('#'+column_name).ckeditor({
                                customConfig : '/plugins/ckeditor/config.js',
                                skin:'moono-lisa',
                                autoHeight: true
                            });
                        });
                        %>
                    </div>
                    <%} else if(column_type=='textarea'){ %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <textarea id="<%-column_name%>" name="<%-column_name%>" class="list-group-item form-control fu-input-text" style="width:100%;" placeholder="<%-column_title%>"><%-column_value%></textarea>
                        </div>
                    </div>
                    <%} else if(column_type=='file'){ %>
                    <div class="form-group row">
                        <input type="hidden" class="form-control" id="<%-column_name%>" name="<%-column_name%>" value="<%-column_value%>" />
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <div id="uploadfiles_<%-column_name%>"></div>
                        </div>
                        <%
                        console.log(scheme[column_name]);
                        require(['core/uploadfiles.min'], function(UploadableActivity) {
                            UploadableActivity.initialize('#uploadfiles_'+column_name, scheme[column_name].doc_id, {
                                token : column_value,
                                dragDrop: 'true',
                                maxFileCount: scheme[column_name].number_files_allowed,
                                acceptFiles: scheme[column_name].default
                            });
                            UploadableActivity.run();
                        });
                        %>
                    </div>
                    <% } else if(column_type=='hidden') { %>
                        <input type="hidden" name="<%-column_name%>" value="<%-column_value%>" />
                    <% } else { %>
                    <div class="form-group row">
                        <label for="<%-column_name%>" class="col-sm-2 control-label"><%-column_title%></label>
                        <div class="col-sm-10">
                            <input type="<%-column_type%>" class="form-control" id="<%-column_name%>" name="<%-column_name%>" placeholder="<%-column_comment%>" value="<%-column_value%>" <%-column_readonly%> />
                        </div>
                    </div>
                    <%}%>
                <%});%>
        
                <hr />

                <!--버튼-->
                <div class="text-center" style="padding: 20px 0px;">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">수정하기</button>
                </div>
            </form>
        </div>
    </div>
</script>