
<script type="text/template" id="tpl_data_editview">
    <div class="text-right">
        <button class="btn btn-link text-white" onclick="history.go(-1); return false;"><i class="fas fa-times fa-2x"></i></button>
    </div>
    <div class="card">
        <div class="card-body">            
            <div class="table-responsive noSwipe">
                <form id="theDataEdit">
                    <table class="table table-hover table-bordered table-striped" style="background-color: #fff;">
                        <thead class="thead-default">
                            <tr>
                                <th>NAME</th>
                                <th>TYPE</th>                     
                                <th>NULL</th>
                                <th>DEFAULT</th>
                                <th>COMMENT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <%
                        _.each(msg,function(t,no)
                        {
                            var is_primary = '';
                            if(t.column_name == primary_key){
                                is_primary = 'PRI';
                            }
                        %>
                            <tr>
                                <td><%-t.column_name%></td>
                                <td><%-t.data_type%></td>
                                <td><%-t.is_null%></td>
                                <td><%-t.default%></td>
                                <td><%-t.comment%></td>
                                <td>                                    
                                    <%
                                    if(t.column_type == 'text'){
                                    %>
                                        <textarea id="<%-t.column_name%>" name="<%-t.column_name%>"><%-t.val%></textarea>
                                    <% } if (t.auto_increment =='YES' || is_primary !='') { %>
                                        <%-t.val%>
                                    <% } else { %>
                                        <input type="text" id="<%-t.column_name%>" name="<%-t.column_name%>" value="<%-t.val%>" />
                                    <% } %>
                                </td>
                            </tr>
                        <% 
                        }); %>
                        </tbody>
                    </table>

                    <hr />
                    <button type="submit" class="btn btn-block btn-lg btn-danger">데이터 수정</button>
                </form>
            </div>
        </div>
    </div>
</script>