<script type="text/template" id="tpl_member_list">
    <div class="container-fluid" style="padding: 10px 0px;">
        <div class="row">
          <div class="col-6">
            <button type="button" id="btn_add" class="btn btn-primary button_circle"><i class="fa fa-plus"></i></button>
          </div>
          <div class="col-6" style="text-align: right;">
            
          </div>
      </div>
        <!--검색-->
        <form id="member_search_from">
            <div class="input-group">          
              <input type="search" class="form-control" name="q" id="q" value="<%-q%>" title="검색어" placeholder="(이름+아이디[email])">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 검색</button>
              </span>
            </div>
        </form>
    
        <!--카테고리-->
        <%if(typeof(category_navi) !== "undefined") { %>
        <ul class="nav nav-pills" style="padding:10px 0 0 0;">
          <li class="nav-item">
            <a class="nav-link category-link" data-id="" href="javascript://void(0);">전체</a>
          </li>
          <% _.each(category_navi, function(category_navi_title, category_key, value) { 
            var _cate_active = (category == category_key) ? "active" : "";
          %>
          <li class="nav-item">
            <a class="nav-link category-link <%-_cate_active%>" data-id="<%-category_key%>" href="javascript://void(0);"><%-category_navi_title%></a>
          </li>
          <%}); %>
        </ul>
        <% } %>
    </div>
    <div class="col-xs-12"><small>전체 : <%-total_record%> (<%-page%>/<%-total_page%>페이지)</small></div>

    <div class="table-responsive noSwipe">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>이름</th>
            <th>아이디</th>
            <th>연락처</th>
            <th>등급</th>
            <th>가입일</th>
            <th>비고</th>
          </tr>
        </thead>
        <tbody>
        <%
        _.each(msg, function(list)
        {
          // 프로필이미지
          var profile_image = '';
          if(!_.isUndefined(list.profile) && _.size(list.profile)>0){
              if(list.profile[0].directory){
                profile_image = list.profile[0].directory+'/s/'+list.profile[0].sfilename;
              }
          }
    
          // 소속/단체
          var mycompany = '';
          if(!_.isUndefined(list.company_id) && _.size(list.company)>0){
              if(!_.isUndefined(list.company.id)){
                mycompany = list.company.company;
              }
          }
        %>
          <tr>
            <th scope="row" class="raw" data-id="<%-list.id%>" style="cursor:pointer;">
              <% if(profile_image !=''){ %>
              <img src="<%-profile_image%>" class="img-fluid" alt="<%-list.name%>" />
              <% } %>
              <% if(list.level < 1){ %>
                <strike><%-list.name%></strike>
              <% }else{ %>
                <%-list.name%>
              <% } %>
            </th>
            <td><%-list.userid%></td>
            <td><%-list.cellphone%></td>
            <td><%-list.level%></td>
            <td><%-list.signdate%></td>
            <td><%-mycompany%></td>
          </tr>
        <%});%>
        </tbody>
      </table>
    </div>
    
    <!--paging chanel-->
    <nav aria-label="Page navigation" style="padding:20px 0;">
      <ul class="pagination justify-content-center">
        <%if(paging.pre>0){%>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);" data-page="<%-paging.pre%>" tabindex="-1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only"><<</span>
          </a>
        </li>
         <%}%>
         <% _.each(paging.chanel, function(paging){
            var page_active = (page == paging.num) ? 'active' : '';
         %>
        <li class="page-item <%-page_active%>">
          <a class="page-link" href="javascript:void(0);" data-page="<%-paging.num%>"><%-paging.num%></a>
        </li>
        <%});%>
        <%if(paging.next>0){%>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);" data-page="<%-paging.next%>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">>></span>
          </a>
        </li>
         <%}%>
      </ul>
    </nav>
    </script>