<script type="text/template" id="tpl_query_tablesview">
  <div class="container-fluid" style="padding: 10px 0px;">
      <div class="row">
          <div class="col-6">
            <button type="button" id="btn_add" class="btn btn-primary button_circle"><i class="fa fa-plus"></i></button>
          </div>
          <div class="col-6" style="text-align: right;">
            <button type="button" id="btn_create_table_scheme" class="btn btn-outline-info button_circle">Create Table(Scheme)</button>
          </div>
      </div>
  </div>
  
  <div class="col-xs-12"><small>전체 : <%-total_record%>개</small></div>
  <div class="table-responsive noSwipe">
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">key</th>
          <th scope="col">values</th>
          <th scope="col">title</th>
          <th scope="col">engine</th>
          <th scope="col">update</th>
          <th scope="col">total</th>
          <!-- <th scope="col"> </th> -->
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
      <%
      _.sortBy(msg, 'tname');
      _.each(msg, function(val, key, args)
      {
        console.log(key+' '+val);
        var table_rows = 0;
        var title = '';
        var engine = '';
        var update_time = '';

        if(!_.isUndefined(table_info[val]) && !_.isUndefined(table_info[val].rows)){
          table_rows = table_info[val].rows;
          title = table_info[val].table_comment;
          engine = table_info[val].engine;
          update_time = table_info[val].update_time;
        }

        var bar_p = (table_rows / total_record)*100;
        var bar_percent = Math.ceil(bar_p);
      %>
        <tr>
          <th scope="row"><%-key%></th>
          <td><%-val%></td>
          <td><%-title%></td>
          <td><%-engine%></td>
          <td><%-update_time%></td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width:<%-bar_percent%>%" aria-valuenow="<%-bar_percent%>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <%-table_rows%> <small>(<%-bar_percent%>%)</small>
          </td>
          <!-- <td>
            <button type="button" class="btn btn-sm btn-outline-info raw" data-id="<%-key%>">Edit</button>
            <% if(!_.contains(strings_filters, key)){%>
            <button type="button" class="btn btn-sm btn-outline-secondary raw-del" data-id="<%-key%>">Del</button>
            <% } %>
          </td> -->
          <td>
            <button type="button" class="btn btn-sm btn-outline-info data-list" data-id="<%-key%>">데이터목록</button>
            <button type="button" class="btn btn-sm btn-outline-info data-scheme" data-id="<%-key%>">스키마</button>
          </td>
        </tr>
      <%});%>
      </tbody>
    </table>
  </div>
</script>